<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.triple.triple_kcarwash">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.TripleKCarWash">
        <activity android:name=".VacuumCleaningActivity"></activity>
        <activity android:name=".UserMainActivity" />
        <activity android:name=".UserLogInActivity" />
        <activity android:name=".UnderWashActivity" />
        <activity android:name=".SofaSetActivity" />
        <activity android:name=".RegisterUserActivity" />
        <activity android:name=".PaymentsActivity" />
        <activity android:name=".LogInsActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".ExecutiveCleaningActivity" />
        <activity android:name=".EngineWashActivity" />
        <activity android:name=".CapetCleaningActivity" />
        <activity android:name=".BuffingActivity" />
        <activity android:name=".BodyCleaningActivity" />
        <activity android:name=".AdminLogInActivity" />
        <activity android:name=".AdminMainMenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>